[Unit]
Description=Compiler Explorer

[Service]
Type=simple
WorkingDirectory=/opt/compiler-explorer
ExecStart=/usr/bin/make run
Restart=on-failure

[Install]
WantedBy=multi-user.target